asn1crypto==0.24.0
attrs==18.1.0
autobahn==18.8.1
Automat==0.7.0
beautifulsoup4==4.6.3
cachetools==2.1.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
decorator==4.3.0
Django==2.1
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-search==1.0.2
httplib2==0.11.3
hyperlink==18.0.0
idna==2.7
imageio==2.3.0
incremental==17.5.0
kwconfig==1.1.7
lxml==4.2.4
moviepy==0.2.3.5
numpy==1.15.1
Pillow==5.2.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytube==9.2.2
pytz==2018.5
requests==2.19.1
rsa==3.4.2
search-google==1.2.1
service-identity==17.0.0
six==1.11.0
tqdm==4.25.0
Twisted==19.7.0
txaio==18.7.1
uritemplate==3.0.0
urllib3==1.23
watson-developer-cloud==1.7.0
zope.interface==4.5.0
